body{
    background-color: #88E0EF;
    font-family: 'PT Sans', sans-serif;
    font-size: larger;
}
h2{
    margin: auto;
    text-align: center;
    font-family: Noto Serif Display, Serif;
}
.navbar{
    width: 100%;
    height: 8vh;
    margin-top: 0px;
    font-style: normal;
    background: #88E0EF;
}
.navbar-brand{
    padding-right: 2%;
}
.jumbotron{
    min-height: 100vh;
    width: flex;
    background-color: #88E0EF;
    color:black;
    background-image: url(https://cutewallpaper.org/21/bootstrap-jumbotron-background-image/Bootstrap-Jumbotron-examples-tutorial-Basic-advanced-.jpg);
    text-align: center;
}
.jumbotron h1{
    margin-top: 5%;
}
.jumbotron h3{
    margin: auto; 
    border-right: .15em solid navy;
    padding: 5%;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end),
    blink-caret .70s step-end infinite;
}
@keyframes typing{
    from {width: 0}
    to {width: 100%}
}
@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {background-color:transparent;}
}
.jumbotron h4{
    margin: 5px; 
    margin-left: 10px;
    border: 5px;
    padding: 3px; 
    font-style: italic; 
}
.fa-solid{
    margin-top: 10vh;
}
span{
    font-weight: bold;
}
.footer{
    border: 10px;
    padding: 5px;
    text-align: center;
    background-color: #161E54;
    color: gainsboro;
}
.card-title{
    height: 7%;
}
#project-h2{
    margin-top: 5%;
}
.card-deck{
    margin-top: 5%;
}
.card{
    text-align: center;
}
.project{
    margin-top: 5%;
}
#projects{
    margin: 5% 2% 0% 2%;
    
}
#projects button{
    background-color: #161E54;
    color: white;
    padding: 3%;
    border-radius: 10px;
}
#projects-p{
    height: 45vh;
}
.progress{
    height: 3vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.progress-bar p{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.html{
    background-color: #111D5E;
}
.css{
    background-color: #C70039;
}
.form-group{
    margin: 20px 0px 20px 0px;
}
button{
    margin: 15px;
    border: 5px;
    border-radius: 10%;
    padding: 5px;
}
#contact h2{
    color: white;
    padding: 3%;
}
#contact ul{
    list-style-type: none;
}
#contact li{
    margin-left: 15%;
    border: 5%;
    padding: 5%;
}
#hobbies{
    margin-top: 5%;
}
#hobbies p{
    text-align: center;
    margin-top: 5%;
}
#hobbies h3{
    text-align: center;
    margin-top: 20%;
}
#hobbies img{
    border-radius: 80%;
}
.col{
    margin: auto;
}
#contact{
    margin-top: 10vh;
    background-color:#161E54;
}
.form{
    padding-right: 5%;
}
.hobbies{
    padding: 20px;
    margin-bottom: 5%;
}
.work{
    margin-top: 5%;
}
.school{
    margin-top: 5%;
    margin-bottom: 5%;
}
#tum{
    margin-top: 4%;
    text-align: center;
}
#code{
    margin-top: 7%;
}
