h2{
    margin-left: 5%;
}
.navbar{
    width: 100%;
    margin-top: 0px;
}
.jumbotron{
    min-height: 100vh;
    width: flex;
}
.jumbotron h3{
    margin: 5px; 
    border: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron h4{
    margin: 5px; 
    margin-left: 10px;
    border: 5px;
    padding: 3px; 
    font-style: italic; 
}
.fa-solid{
    margin-top: 10vh;
}
span{
    font-weight: bold;
}
.footer{
    margin: 5px; 
    border: 5px;
    padding: 5px;
    text-align: center;
}
.progress{
    height: 3vh;
    width: 20%;
    margin-top: 2vh;
    
}
.progress-bar p{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.html{
    background-color: #111D5E;
}
.css{
    background-color: #C70039;
}
.form-group{
    margin: 20px 0px 20px 0px;
}
button{
    margin: 15px;
    border: 5px;
    border-radius: 10%;
    padding: 5px;
}
.contact ul{
    list-style-type: none;
}
.contact li{
    margin: 5%;
    border: 5%;
    padding: 2%;
}
#hobbies{
    margin-top: 5%;
}
#hobbies p{
    text-align: center;
    margin-top: 5%;
}
#hobbies h3{
    text-align: center;
    margin-top: 20%;
}
#hobbies img{
    border-radius: 80%;
}
.col{
    margin: auto;
}
.contact{
    margin-top: 10vh;
}
.hobbies{
    padding: 20px;
    margin-bottom: 5%;
}
.work{
    margin-top: 5%;
}
.school{
    margin-top: 5%;
    margin-bottom: 5%;
}
#tum{
    margin-top: 4%;
    text-align: center;
}
#code{
    margin-top: 7%;
}
.card{
    text-align: center;
}